<h1>PW 수정</h1>
<form action="/changepw_process/<%=logId%>" method="post">
    <p>
        loginid : <%=loginid%>
    </p>
    <p>
        <input type="text" name="password" value="<%=password%>" style="width: 400px; border-color:antiquewhite;" placeholder="password">
    </p>
    <p>
        name : <%=name%>
    </p>
    <p>
        address : <%=address%>
    </p>
    <p>
        tel : <%=tel%>
    </p>
    <p>
        birth : <%=birth%>
    </p>
    <p>
        class : <%=classA%>
    </p>
    <p>
        grade : <%=grade%>
    </p>
    
    <p><input type="submit"></p>
</form>